################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WFM.UI/bin
/WFM.UI/obj
/.vs

