################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WFM.UI/bin
/WFM.UI/obj
/.vs

/WFM.BAL/bin/Debug/AspNetRole.cs
/WFM.BAL/bin/Debug/AspNetUser.cs
/WFM.BAL/bin/Debug/AspNetUserClaim.cs
/WFM.BAL/bin/Debug/AspNetUserLogin.cs
/WFM.BAL/bin/Debug/Contact.cs
/WFM.BAL/bin/Debug/Country.cs
/WFM.BAL/bin/Debug/DataAudit.cs
/WFM.BAL/bin/Debug/Designation.cs
/WFM.BAL/bin/Debug/EntityFramework.SqlServer.dll
/WFM.BAL/bin/Debug/EntityFramework.SqlServer.xml
/WFM.BAL/bin/Debug/EntityFramework.dll
/WFM.BAL/bin/Debug/EntityFramework.xml
/WFM.BAL/bin/Debug/LoginAudit.cs
/WFM.BAL/bin/Debug/Principal.cs
/WFM.BAL/bin/Debug/PrincipalContact.cs
/WFM.BAL/bin/Debug/ProjectSector.cs
/WFM.BAL/bin/Debug/SourcingPartner.cs
/WFM.BAL/bin/Debug/TenderDocumentSection.cs
/WFM.BAL/bin/Debug/TenderDocumentType.cs
/WFM.BAL/bin/Debug/WFM.BAL.dll
/WFM.BAL/bin/Debug/WFM.BAL.dll.config
/WFM.BAL/bin/Debug/WFM.BAL.pdb
/WFM.BAL/bin/Debug/WFM.DAL.dll
/WFM.BAL/bin/Debug/WFM.DAL.dll.config
/WFM.BAL/bin/Debug/WFM.DAL.pdb
/WFM.BAL/bin/Debug/WFMConfiguration.cs
/WFM.BAL/bin/Debug/WFMModel.Context.cs
/WFM.BAL/bin/Debug/WFMModel.Context.tt
/WFM.BAL/bin/Debug/WFMModel.Designer.cs
/WFM.BAL/bin/Debug/WFMModel.cs
/WFM.BAL/bin/Debug/WFMModel.edmx.diagram
/WFM.BAL/bin/Debug/WFMModel.tt
/WFM.BAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WFM.BAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFM.BAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFM.BAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFM.BAL/obj/Debug/WFM.BAL.csproj.CopyComplete
/WFM.BAL/obj/Debug/WFM.BAL.csproj.CoreCompileInputs.cache
/WFM.BAL/obj/Debug/WFM.BAL.csproj.FileListAbsolute.txt
/WFM.BAL/obj/Debug/WFM.BAL.csprojAssemblyReference.cache
/WFM.BAL/obj/Debug/WFM.BAL.dll
/WFM.BAL/obj/Debug/WFM.BAL.pdb
/WFM.DAL/bin/Debug/AspNetRole.cs
/WFM.DAL/bin/Debug/AspNetUser.cs
/WFM.DAL/bin/Debug/AspNetUserClaim.cs
/WFM.DAL/bin/Debug/AspNetUserLogin.cs
/WFM.DAL/bin/Debug/Contact.cs
/WFM.DAL/bin/Debug/Country.cs
/WFM.DAL/bin/Debug/DataAudit.cs
/WFM.DAL/bin/Debug/Designation.cs
/WFM.DAL/bin/Debug/EntityFramework.SqlServer.dll
/WFM.DAL/bin/Debug/EntityFramework.SqlServer.xml
/WFM.DAL/bin/Debug/EntityFramework.dll
/WFM.DAL/bin/Debug/EntityFramework.xml
/WFM.DAL/bin/Debug/LoginAudit.cs
/WFM.DAL/bin/Debug/Principal.cs
/WFM.DAL/bin/Debug/PrincipalContact.cs
/WFM.DAL/bin/Debug/ProjectSector.cs
/WFM.DAL/bin/Debug/SourcingPartner.cs
/WFM.DAL/bin/Debug/TenderDocumentSection.cs
/WFM.DAL/bin/Debug/TenderDocumentType.cs
/WFM.DAL/bin/Debug/WFM.DAL.dll
/WFM.DAL/bin/Debug/WFM.DAL.dll.config
/WFM.DAL/bin/Debug/WFM.DAL.pdb
/WFM.DAL/bin/Debug/WFMConfiguration.cs
/WFM.DAL/bin/Debug/WFMModel.Context.cs
/WFM.DAL/bin/Debug/WFMModel.Context.tt
/WFM.DAL/bin/Debug/WFMModel.Designer.cs
/WFM.DAL/bin/Debug/WFMModel.cs
/WFM.DAL/bin/Debug/WFMModel.edmx.diagram
/WFM.DAL/bin/Debug/WFMModel.tt
/WFM.DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WFM.DAL/obj/Debug/TempPE/WFMModel.Context.cs.dll
/WFM.DAL/obj/Debug/TempPE/WFMModel.Designer.cs.dll
/WFM.DAL/obj/Debug/TempPE/WFMModel.cs.dll
/WFM.DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFM.DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFM.DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFM.DAL/obj/Debug/WFM.DAL.csproj.CopyComplete
/WFM.DAL/obj/Debug/WFM.DAL.csproj.CoreCompileInputs.cache
/WFM.DAL/obj/Debug/WFM.DAL.csproj.FileListAbsolute.txt
/WFM.DAL/obj/Debug/WFM.DAL.csprojAssemblyReference.cache
/WFM.DAL/obj/Debug/WFM.DAL.dll
/WFM.DAL/obj/Debug/WFM.DAL.pdb
/WFM.DAL/obj/Debug/edmxResourcesToEmbed/WFMModel.csdl
/WFM.DAL/obj/Debug/edmxResourcesToEmbed/WFMModel.msl
/WFM.DAL/obj/Debug/edmxResourcesToEmbed/WFMModel.ssdl
/WFM.UI.DF/bin/Antlr3.Runtime.dll
/WFM.UI.DF/bin/Antlr3.Runtime.pdb
/WFM.UI.DF/bin/AspNetRole.cs
/WFM.UI.DF/bin/AspNetUser.cs
/WFM.UI.DF/bin/AspNetUserClaim.cs
/WFM.UI.DF/bin/AspNetUserLogin.cs
/WFM.UI.DF/bin/Contact.cs
/WFM.UI.DF/bin/Country.cs
/WFM.UI.DF/bin/DataAudit.cs
/WFM.UI.DF/bin/Designation.cs
/WFM.UI.DF/bin/EntityFramework.SqlServer.dll
/WFM.UI.DF/bin/EntityFramework.SqlServer.xml
/WFM.UI.DF/bin/EntityFramework.dll
/WFM.UI.DF/bin/EntityFramework.xml
/WFM.UI.DF/bin/LoginAudit.cs
/WFM.UI.DF/bin/Microsoft.AspNet.Identity.Core.dll
/WFM.UI.DF/bin/Microsoft.AspNet.Identity.Core.xml
/WFM.UI.DF/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/WFM.UI.DF/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/WFM.UI.DF/bin/Microsoft.AspNet.Identity.Owin.dll
/WFM.UI.DF/bin/Microsoft.AspNet.Identity.Owin.xml
/WFM.UI.DF/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/WFM.UI.DF/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/WFM.UI.DF/bin/Microsoft.Owin.Host.SystemWeb.dll
/WFM.UI.DF/bin/Microsoft.Owin.Host.SystemWeb.xml
/WFM.UI.DF/bin/Microsoft.Owin.Security.Cookies.dll
/WFM.UI.DF/bin/Microsoft.Owin.Security.Cookies.xml
/WFM.UI.DF/bin/Microsoft.Owin.Security.Facebook.dll
/WFM.UI.DF/bin/Microsoft.Owin.Security.Facebook.xml
/WFM.UI.DF/bin/Microsoft.Owin.Security.Google.dll
/WFM.UI.DF/bin/Microsoft.Owin.Security.Google.xml
/WFM.UI.DF/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/WFM.UI.DF/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/WFM.UI.DF/bin/Microsoft.Owin.Security.OAuth.dll
/WFM.UI.DF/bin/Microsoft.Owin.Security.OAuth.xml
/WFM.UI.DF/bin/Microsoft.Owin.Security.Twitter.dll
/WFM.UI.DF/bin/Microsoft.Owin.Security.Twitter.xml
/WFM.UI.DF/bin/Microsoft.Owin.Security.dll
/WFM.UI.DF/bin/Microsoft.Owin.Security.xml
/WFM.UI.DF/bin/Microsoft.Owin.dll
/WFM.UI.DF/bin/Microsoft.Owin.xml
/WFM.UI.DF/bin/Microsoft.Web.Infrastructure.dll
/WFM.UI.DF/bin/Newtonsoft.Json.dll
/WFM.UI.DF/bin/Newtonsoft.Json.xml
/WFM.UI.DF/bin/Owin.dll
/WFM.UI.DF/bin/Principal.cs
/WFM.UI.DF/bin/PrincipalContact.cs
/WFM.UI.DF/bin/ProjectSector.cs
/WFM.UI.DF/bin/SourcingPartner.cs
/WFM.UI.DF/bin/System.Web.Helpers.dll
/WFM.UI.DF/bin/System.Web.Helpers.xml
/WFM.UI.DF/bin/System.Web.Mvc.dll
/WFM.UI.DF/bin/System.Web.Mvc.xml
/WFM.UI.DF/bin/System.Web.Optimization.dll
/WFM.UI.DF/bin/System.Web.Optimization.xml
/WFM.UI.DF/bin/System.Web.Razor.dll
/WFM.UI.DF/bin/System.Web.Razor.xml
/WFM.UI.DF/bin/System.Web.WebPages.Deployment.dll
/WFM.UI.DF/bin/System.Web.WebPages.Deployment.xml
/WFM.UI.DF/bin/System.Web.WebPages.Razor.dll
/WFM.UI.DF/bin/System.Web.WebPages.Razor.xml
/WFM.UI.DF/bin/System.Web.WebPages.dll
/WFM.UI.DF/bin/System.Web.WebPages.xml
/WFM.UI.DF/bin/TenderDocumentSection.cs
/WFM.UI.DF/bin/TenderDocumentType.cs
/WFM.UI.DF/bin/WFM.BAL.dll
/WFM.UI.DF/bin/WFM.BAL.dll.config
/WFM.UI.DF/bin/WFM.BAL.pdb
/WFM.UI.DF/bin/WFM.DAL.dll
/WFM.UI.DF/bin/WFM.DAL.dll.config
/WFM.UI.DF/bin/WFM.DAL.pdb
/WFM.UI.DF/bin/WFM.UI.DF.dll
/WFM.UI.DF/bin/WFM.UI.DF.dll.config
/WFM.UI.DF/bin/WFM.UI.DF.pdb
/WFM.UI.DF/bin/WFMConfiguration.cs
/WFM.UI.DF/bin/WFMModel.Context.cs
/WFM.UI.DF/bin/WFMModel.Context.tt
/WFM.UI.DF/bin/WFMModel.Designer.cs
/WFM.UI.DF/bin/WFMModel.cs
/WFM.UI.DF/bin/WFMModel.edmx.diagram
/WFM.UI.DF/bin/WFMModel.tt
/WFM.UI.DF/bin/WebGrease.dll
/WFM.UI.DF/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/WFM.UI.DF/bin/roslyn/Microsoft.CSharp.Core.targets
/WFM.UI.DF/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/WFM.UI.DF/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/WFM.UI.DF/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/WFM.UI.DF/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/WFM.UI.DF/bin/roslyn/Microsoft.CodeAnalysis.dll
/WFM.UI.DF/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/WFM.UI.DF/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/WFM.UI.DF/bin/roslyn/Microsoft.Managed.Core.targets
/WFM.UI.DF/bin/roslyn/Microsoft.VisualBasic.Core.targets
/WFM.UI.DF/bin/roslyn/System.AppContext.dll
/WFM.UI.DF/bin/roslyn/System.Collections.Immutable.dll
/WFM.UI.DF/bin/roslyn/System.Console.dll
/WFM.UI.DF/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
/WFM.UI.DF/bin/roslyn/System.Diagnostics.StackTrace.dll
/WFM.UI.DF/bin/roslyn/System.IO.Compression.dll
/WFM.UI.DF/bin/roslyn/System.IO.FileSystem.Primitives.dll
/WFM.UI.DF/bin/roslyn/System.IO.FileSystem.dll
/WFM.UI.DF/bin/roslyn/System.IO.Pipes.AccessControl.dll
/WFM.UI.DF/bin/roslyn/System.IO.Pipes.dll
/WFM.UI.DF/bin/roslyn/System.Reflection.Metadata.dll
/WFM.UI.DF/bin/roslyn/System.Security.AccessControl.dll
/WFM.UI.DF/bin/roslyn/System.Security.Claims.dll
/WFM.UI.DF/bin/roslyn/System.Security.Cryptography.Algorithms.dll
/WFM.UI.DF/bin/roslyn/System.Security.Cryptography.Encoding.dll
/WFM.UI.DF/bin/roslyn/System.Security.Cryptography.Primitives.dll
/WFM.UI.DF/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
/WFM.UI.DF/bin/roslyn/System.Security.Principal.Windows.dll
/WFM.UI.DF/bin/roslyn/System.Text.Encoding.CodePages.dll
/WFM.UI.DF/bin/roslyn/System.ValueTuple.dll
/WFM.UI.DF/bin/roslyn/System.Xml.ReaderWriter.dll
/WFM.UI.DF/bin/roslyn/System.Xml.XPath.XDocument.dll
/WFM.UI.DF/bin/roslyn/System.Xml.XPath.dll
/WFM.UI.DF/bin/roslyn/System.Xml.XmlDocument.dll
/WFM.UI.DF/bin/roslyn/VBCSCompiler.exe
/WFM.UI.DF/bin/roslyn/VBCSCompiler.exe.config
/WFM.UI.DF/bin/roslyn/csc.exe
/WFM.UI.DF/bin/roslyn/csc.exe.config
/WFM.UI.DF/bin/roslyn/csc.rsp
/WFM.UI.DF/bin/roslyn/csi.exe
/WFM.UI.DF/bin/roslyn/csi.exe.config
/WFM.UI.DF/bin/roslyn/csi.rsp
/WFM.UI.DF/bin/roslyn/vbc.exe
/WFM.UI.DF/bin/roslyn/vbc.exe.config
/WFM.UI.DF/bin/roslyn/vbc.rsp
/WFM.UI.DF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WFM.UI.DF/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFM.UI.DF/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFM.UI.DF/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFM.UI.DF/obj/Debug/WFM.UI.DF.csproj.CopyComplete
/WFM.UI.DF/obj/Debug/WFM.UI.DF.csproj.CoreCompileInputs.cache
/WFM.UI.DF/obj/Debug/WFM.UI.DF.csproj.FileListAbsolute.txt
/WFM.UI.DF/obj/Debug/WFM.UI.DF.csprojAssemblyReference.cache
/WFM.UI.DF/obj/Debug/WFM.UI.DF.dll
/WFM.UI.DF/obj/Debug/WFM.UI.DF.pdb
/WFM.BAL/bin/Release/AspNetRole.cs
/WFM.BAL/bin/Release/AspNetUser.cs
/WFM.BAL/bin/Release/AspNetUserClaim.cs
/WFM.BAL/bin/Release/AspNetUserLogin.cs
/WFM.BAL/bin/Release/Contact.cs
/WFM.BAL/bin/Release/Country.cs
/WFM.BAL/bin/Release/DataAudit.cs
/WFM.BAL/bin/Release/Designation.cs
/WFM.BAL/bin/Release/EntityFramework.SqlServer.dll
/WFM.BAL/bin/Release/EntityFramework.SqlServer.xml
/WFM.BAL/bin/Release/EntityFramework.dll
/WFM.BAL/bin/Release/EntityFramework.xml
/WFM.BAL/bin/Release/LoginAudit.cs
/WFM.BAL/bin/Release/Principal.cs
/WFM.BAL/bin/Release/PrincipalContact.cs
/WFM.BAL/bin/Release/ProjectSector.cs
/WFM.BAL/bin/Release/SourcingPartner.cs
/WFM.BAL/bin/Release/TenderDocumentSection.cs
/WFM.BAL/bin/Release/TenderDocumentType.cs
/WFM.BAL/bin/Release/WFM.BAL.dll
/WFM.BAL/bin/Release/WFM.BAL.dll.config
/WFM.BAL/bin/Release/WFM.BAL.pdb
/WFM.BAL/bin/Release/WFM.DAL.dll
/WFM.BAL/bin/Release/WFM.DAL.dll.config
/WFM.BAL/bin/Release/WFM.DAL.pdb
/WFM.BAL/bin/Release/WFMConfiguration.cs
/WFM.BAL/bin/Release/WFMModel.Context.cs
/WFM.BAL/bin/Release/WFMModel.Context.tt
/WFM.BAL/bin/Release/WFMModel.Designer.cs
/WFM.BAL/bin/Release/WFMModel.cs
/WFM.BAL/bin/Release/WFMModel.edmx.diagram
/WFM.BAL/bin/Release/WFMModel.tt
/WFM.BAL/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFM.BAL/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFM.BAL/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFM.BAL/obj/Release/WFM.BAL.csproj.CopyComplete
/WFM.BAL/obj/Release/WFM.BAL.csproj.CoreCompileInputs.cache
/WFM.BAL/obj/Release/WFM.BAL.csproj.FileListAbsolute.txt
/WFM.BAL/obj/Release/WFM.BAL.csprojAssemblyReference.cache
/WFM.BAL/obj/Release/WFM.BAL.dll
/WFM.BAL/obj/Release/WFM.BAL.pdb
/WFM.UI.DF/obj
/WFM.UI.DF/bin
/WFM.DAL/obj
/WFM.DAL/bin
/WFM.BAL/bin
/WFM.BAL/obj
/WFM.UI.DF/Properties/PublishProfiles
