@model WFM.UI.DF.ModelsView.EvalReportViewModel


<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px;
    }

    table, th, td {
        border: 1px solid black;
        padding: 5px;
        word-wrap: break-word;
    }
</style>

<div class="row m-10" id="printThis">
    <table id="form2-eval">
        <tr>
            <td width="10%">Opportunity Name:</td>
            <td width="60%"></td>
            <td width="20%">Pass</td>
            <td width="10%"></td>
        </tr>
        <tr>
            <td>Item No.</td>
            <td>Criteria </td>
            <td>Field</td>
            <td>Score</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Size of Project in USD</td>
            <td>Under 5 Million</td>
            <td>1</td>
        </tr>

    </table>
</div>