@model WFM.UI.DF.ModelsView.FileNotesReportViewModel


<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px;
    }

    table, th, td {
        border: 1px solid black;
        padding: 5px;
        word-wrap: break-word;
    }
</style>

<div class="row m-10" id="printThis">
    <table id="form1-oef">
        <tr>
            <td colspan="5" class="text-center">
                <h1>File Notes</h1>
            </td>
        </tr>

    </table>
</div>
