@model WFM.UI.DF.ModelsView.LabelReportViewModel

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px;
        }

        table, th, td {
            border: 1px solid black;
            padding: 5px;
            word-wrap: break-word;
        }
    </style>

    <div class="row m-10 col-xl-12 col-lg-12 col-md-12 col-sm-12" id="printThis">
        <table>
            <tr>
                <td>
                    <h3>File ID</h3>
                </td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>
                    <h5>Project</h5>
                </td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td>
                    <h5>Sector</h5>
                </td>
                <td class="text-center"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <h5>CHECKLIST FOR ON BOARDING A PROJECT</h5>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td width="10%">1.</td>
                <td width="20%">Handed over to R&D / Marketing</td>
                <td width="70%" class="text-center">
                    <br />
                    <br />
                    (Signature & Date)
                </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Availability of Mandate</td>
                <td class="text-center">
                    <br />
                    (Yes / No)
                </td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Availability of NDA</td>
                <td class="text-center">
                    <br />
                    (Yes / No)
                </td>
            </tr>
            <tr>
                <td>4.</td>
                <td>On boarded on OSL Website</td>
                <td class="text-center">
                    <br />
                    <br />
                    (Signature & Date)
                </td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Additional Remarks</td>
                <td class="text-center">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
        </table>
    </div>

