
@model WFM.UI.DF.ModelsView.TAFReportViewModel

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px;
    }

    table, th, td {
        border: 1px solid black;
        padding: 5px;
        word-wrap: break-word;
    }

    .no-border {
        border: 0px;
    }
</style>

<div class="row m-10 col-xl-12 col-lg-12 col-md-12 col-sm-12" id="printThis">
    <table>
        <tr>
            <td colspan="6" class="text-center">
                <h3>Tender / Project Acceptance Form</h3>
            </td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="font-bold">
                Company / Ministry
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                2.
            </td>
            <td class="font-bold">
                Project
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                3.
            </td>
            <td class="font-bold">
                Contract Title
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                4.
            </td>
            <td class="font-bold">
                Funding availability
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                5.
            </td>
            <td class="font-bold">
                Requirement
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                6.
            </td>
            <td class="font-bold">
                Description
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                7.
            </td>
            <td class="font-bold">
                Location
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                8.
            </td>
            <td class="font-bold">
                Estimated cost of the project
            </td>
            <td class="font-bold">LKR.</td>
            <td></td>
            <td class="font-bold">USD.</td>
            <td></td>
        </tr>
        <tr>
            <td>
                9.
            </td>
            <td class="font-bold">
                Bid security value
            </td>
            <td class="font-bold">LKR.</td>
            <td></td>
            <td class="font-bold">USD.</td>
            <td></td>
        </tr>
        <tr>
            <td>
                1.
            </td>
            <td class="font-bold">
                Company / Ministry
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                10.
            </td>
            <td class="font-bold">
                Type
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                11.
            </td>
            <td class="font-bold">
                Advertisement published date
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                12.
            </td>
            <td class="font-bold">
                Published newspaper
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                12.
            </td>
            <td class="font-bold">
                Published newspaper
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                13.
            </td>
            <td class="font-bold">
                URL
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                14.
            </td>
            <td class="font-bold">
                Last date to collect document
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                15.
            </td>
            <td class="font-bold">
                Document cost
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                16.
            </td>
            <td class="font-bold">
                Pre-bid meeting date
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                17.
            </td>
            <td class="font-bold">
                Closing date / Bid submission date
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                18.
            </td>
            <td class="font-bold">
                Contact
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                19.
            </td>
            <td class="font-bold">
                Remark
            </td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                20.
            </td>
            <td class="font-bold">
                Advertisement
            </td>
            <td colspan="4"></td>
        </tr>
    </table>
</div>
