@{
    ViewBag.Title = "Inward Inquiry";
}

<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Tenders</h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                @*<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>*@
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-0">
                <div class="section-block">
                    <h5 class="section-title">Tender # - 100001</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-0">
                <div class="section-block-main-data">
                    <h5 class="section-title">Main details</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-0">
                <div class="tab-regular">
                    <ul class="nav nav-tabs nav-fill" id="myTab7" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="sourcing-tab-justify" data-toggle="tab" href="#sourcing-justify" role="tab" aria-controls="sourcing" aria-selected="true">Sourcing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="randd-tab-justify" data-toggle="tab" href="#randd-justify" role="tab" aria-controls="randd" aria-selected="false">R and D</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="approval-tab-justify" data-toggle="tab" href="#approval-justify" role="tab" aria-controls="approval" aria-selected="false">Approval</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="marketing-tab-justify" data-toggle="tab" href="#marketing-justify" role="tab" aria-controls="marketing" aria-selected="false">Marketing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="verification-tab-justify" data-toggle="tab" href="#verification-justify" role="tab" aria-controls="verification" aria-selected="false">Verification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="legal-tab-justify" data-toggle="tab" href="#legal-justify" role="tab" aria-controls="legal" aria-selected="false">Legal Contracting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tender-tab-justify" data-toggle="tab" href="#tender-justify" role="tab" aria-controls="tender" aria-selected="false">Tender Finalization</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="InwardInquiry">
                        <div class="tab-pane fade show active" id="Sourcing-justify" role="tabpanel" aria-labelledby="Sourcing-tab-justify">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="randd-justify" role="tabpanel" aria-labelledby="randd-tab-justify">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="approval-justify" role="tabpanel" aria-labelledby="approval-tab-justify">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="marketing-justify" role="tabpanel" aria-labelledby="marketing-tab-justify">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="legal-justify" role="tabpanel" aria-labelledby="legal-tab-justify">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tender-justify" role="tabpanel" aria-labelledby="tender-tab-justify">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>