@model WFM.UI.DF.ModelsView.LoginAuditViewModel
@{
    ViewBag.Title = "Login Audit Report";
}
<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2 class="pageheader-title">@ViewBag.Title</h2>
            </div>
        </div>
        <div class="border border-primary bg-actual-white">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 m-t-10">
                User Name
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mb-0">
                @Html.DropDownListFor(m => m.UserId, new SelectList(Model.UsersInRoleViewModels, "UserId", "UserName"), "Select User", new { @class = "form-control loginaudituser" })
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-10 m-t-10">
                <div class="table-responsive">
                    <table id="List" class="table table-striped table-bordered first">
                        <thead>
                            <tr>
                                <th>IP Address</th>
                                <th>Date Logged</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#UserId').select2({
            selectOnClose: true
        });
    </script>
}


